@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Práctica EMS Curso 2016/2017</h1>
    <p class="lead">Gestión de la información de la asignatura EMS </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestión de Profesores</h2>
        <p>
            <img src="~/images/profesor.jpg" width="300" height="300" />

        </p>

    </div>
    <div class="col-md-4">
        <h2>Gestión de Alumnos</h2>
        <p>
            <img src="~/images/clase.jpg" width="300" height="300" />

        </p>

    </div>
    <div class="col-md-4">
        <h2>Gestión Evaluaciones</h2>
        <p>
            <img src="~/images/evaluaciones.jpg" width="300" height="300" />
        </p>

    </div>

</div>